/* Skills start */
.skills {
  display: none;
  padding: 15px 8%;
  padding-top: 121.6px;
  margin-top: 20px;
}

.skills .header {
  align-items: center;
  display: flex;
  justify-content: center;
}

.skills h2 {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 1rem 0;
  text-align: center;
}

.skills-desc {
  color: #767676;
  text-align: center;
  line-height: 1.6;
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 40vw;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 40px;
}

.skills-card {
  border-radius: 5px;
  background: #fff;
  padding: 25px 35px;
  transition: transform 0.3s ease-in-out;
  justify-items: center;
}

.skills-card h4 {
  font-size: 16px;
  margin: 10px 10px;
  font-weight: 500;
  color: #333;
}

.skills-card p {
  font-size: 15px;
  margin: 0px 10px;
  padding: 10px 0px;
  color: #767676;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.skills-card .progress {
  width: 95%;
  background-color: white;
  border: 1px solid #ffb400;
  margin: 0px 10px;
  border-radius: 5px;
  padding: 1px;
}

.skills-card .bar {
  height: 2px;
  background-color: #ffb400;
  animation: progress 0.4s ease-in-out forwards;
}

.skills-card .bar1 {
  width: 90%;
  animation-delay: 0.1s;
}

.skills-card .bar2 {
  width: 85%;
  animation-delay: 0.15s;
}

.skills-card .bar3 {
  width: 80%;
  animation-delay: 0.2s;
}
.skills-card .bar4 {
  width: 75%;
  animation-delay: 0.25s;
}

.skills-card .bar5 {
  width: 85%;
  animation-delay: 0.15s;
}

.skills-card:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.3);
}

.btn-skill1 {
  display: flex;
  padding: 10px 20px;
  margin: 0 auto;
  margin-top: 45px;
}

@keyframes progress {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 600px) {
  .btn-skill1 {
    width: auto;
  }
}
/* Skills ends */
