@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f0f0f6;
  padding-top: 121.6px;
}
img {
  max-width: 100%;
  object-fit: cover;
}
a,
a::before,
a::after,
a:visited {
  color: black;
  display: inline-block;
  text-decoration: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}
ul {
  list-style: none;
}
.row {
  display: flex;
}
.white-bg {
  background-color: white;
}
.btn {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;

  padding: 10px 10px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  background-color: #ffb400;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-transform: capitalize;

  height: 3rem;
  width: min(180px, 100%);
}
.btn:hover {
  background-color: #ffc337;
}
.btn:active {
  transform: scale(0.98);
}
/* Navbar starts */
#navbar {
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  outline: 4px solid rgba(191, 190, 190, 0.1);
  padding: 1.3rem 5rem;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  /* z-index: -1; */
  z-index: 10;
}
.logo img {
  margin-left: 1rem;
  max-width: 15rem;
}
nav ul {
  align-items: center;
  gap: 1.3rem;
}
nav a {
  font-size: 1rem;
  font-weight: 400;
  color: #333;
}
/* Navbar ends */

/* Hero starts */
.hero {
  position: static;
  flex-wrap: wrap-reverse;
  align-items: center;
}
.hero > * {
  flex: 1 1 25rem;
}
.hero .hero-pic {
  padding-top: 7rem;
  height: 101%;
}
.hero-text {
  padding-left: 6rem;
}
.hero h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 2rem;
}
.hero p {
  color: #767676;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5rem;
  margin: 2rem 0rem;
  padding: 1rem 0;
}
.btn-hero {
  width: 10rem;
  margin-top: 10px;
}

@media screen and (max-width: 900px) {
  .logo img {
    margin-left: -3rem;
    padding: 1.3rem 0rem;
    max-width: 6rem;
  }
  .toggleMenu {
    background-image: url(./assets/open_nav.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    height: 30px;
    padding: 2em;
    position: absolute;
    right: 5%;
    width: 30px;
    transition: background-size 0.3s ease-in-out;
    z-index: 100;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
  }
  .toggleMenu.active {
    background-image: url(./assets/close_nav.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    position: fixed;
  }
  .navigation {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-height: 0;
    opacity: 0;
    transform: scale(1, 0);
    transform-origin: top;
    -webkit-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -o-transform: scale(1, 0);
  }
  .navigation.active {
    background-color: antiquewhite;
    inset: 0;
    margin: auto;
    min-height: 100%;
    opacity: 1;
    position: fixed;
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
  }
  nav ul {
    flex-direction: column;
  }
  .hero-text {
    padding: 20px;
  }
}
/* Hero ends */

/* Projects start */
.projects {
  padding: 15px 8%;
  margin-top: 20px;
}
.projects .header {
  align-items: center;
  display: flex;
  justify-content: center;
}
.projects h2 {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 1rem 0;
  text-align: center;
}
.project-desc {
  color: #767676;
  text-align: center;
  line-height: 1.6;
  margin: 2rem 0;
  padding: 0px 150px;
}
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 40px;
}
.project-card {
  box-shadow: 2px 3px 10px 2px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background: #fff;
  outline: 0.1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
}
.project-card img {
  width: 100%;
}
.project-card h4 {
  font-size: 15px;
  font-weight: 400;
  margin-top: 5px;
  padding: 5px 15px;
}
.projectcard-text {
  color: #767676;
  font-size: 12px;
  font-weight: 300;
  padding: 5px 15px;
}
.technologies {
  display: flex;
  flex-wrap: wrap;
}
.technologies p {
  color: black;
  background-color: #efefef;
  padding: 0.5rem 1rem;
  margin: 5px;
  border-radius: 25px;
  font-size: small;
}
.project-card:hover {
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.3);
  transform: scale(1.03);
}
@media screen and (max-width: 600px) {
  .projects .project-desc {
    padding: 0 10px;
  }
}
/* Projects end */

/* Recommendations start */
.recommendations {
  padding: 15px 8%;
}
.recommendations .header {
  align-items: center;
  display: flex;
  justify-content: center;
}
.recommendations h2 {
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
  margin-top: 40px;
}
.recommendations-desc {
  color: #767676;
  text-align: center;
  line-height: 1.6;
  margin: 1.5rem 0;
  padding: 0px 250px;
}

/* Swiper starts */
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-pagination {
  position: relative;
  margin-top: 2rem;
}
.swiper-button-prev {
  padding-right: 50px;
  color: #ffb400;
}
.swiper-button-next {
  padding-left: 50px;
  color: #ffb400;
}
.swiper-pagination-bullet {
  background-color: #ffb400;
}
.swiper-slide {
  font-size: 18px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: center;
}
.swiper-slide h4 {
  font-weight: 500;
  font-size: 18px;
  padding-top: 15px;
}
.swiper-slide:hover {
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);
  transform: scale(1.01);
}

.person-profile {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.person-review {
  color: #767676;
  margin: 15px 0px;
  font-size: 15px;
  line-height: 25px;
}
.person-details {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 25px;
}
.person-details p {
  color: #767676;
  padding: 5px 5px;
  font-size: 13px;
}
/* Swiper ends */

@media screen and (max-width: 780px) {
  .recommendations .recommendations-desc {
    padding: 0 10px;
  }
}
/* Recommendations end */

/* Form starts */
.form-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 7%;
}
.form-contact header {
  font-size: 2rem;
  font-weight: 600;
  margin: 20px 0px;
  padding: 20px 0px;
}
.form {
  width: 67%;
}
.form-inputs {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  justify-content: center;
  padding: 2rem;
}
.form-inputs label {
  color: #767676;
  font-weight: 500;
}
.form-inputs .text-input {
  background-color: #f0f0f6;
  outline: none;
  border: none;
  width: 100%;
  height: 50px;
  margin-top: 15px;
  margin-bottom: 25px;
  font-size: 1rem;
  border-radius: 5px;
  padding: 1rem;
}
.form-inputs textarea {
  background-color: #f0f0f6;
  resize: none;
  outline: none;
  border: none;
  width: 100%;
  height: 200px;
  margin-top: 15px;
  margin-bottom: 25px;
  font-size: 1rem;
  border-radius: 5px;
  padding: 1rem;
}
.form-inputs .text-input:hover,
.form-inputs textarea:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.btn-message {
  padding: 10px;
}
/* Form ends */
@media screen and (max-width: 1100px) {
  .form-contact {
    flex-direction: column;
  }
  .form {
    width: 100%;
  }
  .form .btn {
    width: min(70%, 200px);
  }
}

/* Contact starts */
.contact-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
  width: 100%;
}
.contact-card {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 20px;
  height: 215px;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.contact-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
.icon {
  display: flex;
  align-items: center;
}
.icon img {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  background-color: #ffb400;
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}
.info p {
  padding: 7px 3px;
  font-size: 16px;
  color: #767676;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cardinfo-title {
  font-weight: 500;
}
@media screen and (max-width: 480px) {
  .container {
    padding: 10px;
  }
  .contact-card {
    padding: 15px;
  }
  .icon img {
    width: 40px;
    height: 40px;
  }
  .info p {
    font-size: 14px;
  }
}
/* Contact ends */

/* Footer starts */
.footer {
  margin: 0 50px;
  /* padding: 40px 40px; */
}

.footer-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.footer-subcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer-section {
  flex: 1;
  max-width: 1000px;
  padding: 0px 60px;
}
.footer-section h4 {
  font-weight: bold;
  margin-bottom: 10px;
}
.footer-section ul {
  list-style: none;
}
.footer-section ul li {
  font-size: 16px;
  padding: 5px 0px;
}
.footer-section ul li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}
.footer-section ul li a:hover {
  color: #ffb400;
}

.logos {
  margin-top: 50px;
  max-width: 100%;
  padding: 0 50px;
  justify-content: space-evenly;
}
.logos img {
  max-width: 120px;
  transition: transform 0.3s;
}
.logos img:hover {
  transform: scale(1.1);
}
.footer-mainLogo img {
  margin: 40px 40px;
}

/* Footer Container starts */
.ratings .rating {
  margin-bottom: 20px;
}
.ratings .rating img {
  max-width: 100px;
}
.ratings .rating p {
  font-size: 10px;
  color: #767676;
}

.social-links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.social-links a img {
  width: 90px;
  margin: 7px 10px;
  transition: transform 0.3s;
}
.social-links a img:hover {
  transform: scale(1.2);
}
/* Footer Container ends */

.footer-bottom {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 1rem;
  color: #767676;
}
@media screen and (max-width: 900px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
  .footer-subcontainer {
    flex-direction: column;
    align-items: center;
  }
  .footer-section {
    max-width: 100%;
    margin: 20px 0px;
  }
}
@media screen and (max-width: 500px) {
  .logos {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
/* Footer ends */

/* Skills start */
.skills {
  padding: 15px 8%;
  margin-top: 20px;
}
.skills .header {
  align-items: center;
  display: flex;
  justify-content: center;
}
.skills h2 {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 1rem 0;
  text-align: center;
}
.skills-desc {
  color: #767676;
  text-align: center;
  line-height: 1.6;
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 40vw;
}
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 40px;
}
.skills-card {
  border-radius: 5px;
  background: #fff;
  padding: 25px 35px;
  transition: transform 0.3s ease-in-out;
  justify-items: center;
}
.skills-card h4 {
  font-size: 16px;
  margin: 10px 10px;
  font-weight: 500;
  color: #333;
}
.skills-card p {
  font-size: 15px;
  margin: 0px 10px;
  padding: 10px 0px;
  color: #767676;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.skills-card .progress {
  width: 95%;
  background-color: white;
  border: 1px solid #ffb400;
  margin: 0px 10px;
  border-radius: 5px;
  padding: 1px;
}

.skills-card .bar {
  height: 2px;
  background-color: #ffb400;
  animation: progress 0.4s ease-in-out forwards;
}
.skills-card .bar1 {
  width: 90%;
  animation-delay: 0.1s;
}
.skills-card .bar2 {
  width: 85%;
  animation-delay: 0.15s;
}
.skills-card .bar3 {
  width: 80%;
  animation-delay: 0.2s;
}
.skills-card .bar4 {
  width: 75%;
  animation-delay: 0.25s;
}
.skills-card .bar5 {
  width: 85%;
  animation-delay: 0.15s;
}
.skills-card:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.3);
}
@keyframes progress {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.btn-skill1 {
  display: flex;
  padding: 10px 20px;
  margin: 0 auto;
  margin-top: 45px;
}

@media (min-width: 600px) {
  .btn-skill {
    width: auto;
  }
}
/* Skills ends */

/* Skill form starts */
.add-skill-modal {
  position: absolute;
  background: #fff;
  width: min(631px, 90%);
  z-index: 20;
  font-weight: 600;
  top: 12%;
  border-radius: 5px;
  box-shadow: 2px 3px 10px 2px rgba(0, 0, 0, 0.2);
  align-items: center;
}
.add-skill-modal header {
  /* display: flex; */
  font-size: 3rem;
  width: min(200px, 35%);
  margin: 0 auto;
  margin-top: 5%;
  font-weight: 700;
}
.subskill-container {
  display: flex;
  flex-direction: row;
  gap: 2%;
  padding: 1% 0px;
}
.skill-form {
  margin: 1rem;
}
.skill-form label {
  font-size: large;
  font-size: 500;
}
.subskill-container input,
.skill-form #domain {
  background-color: #f0f0f6;
  outline: none;
  border: none;
  width: 100%;
  height: 70px;
  font-size: 1rem;
  border-radius: 5px;
  padding: 1rem;
}
.skill-form #domain {
  margin: 1% 0;
}
.subskill-container .subskill-title {
  width: 70%;
}
.subskill-container .subskill-proficiency {
  width: 28%;
}
.form-buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2%;
  margin-top: 3%;
}
.form-buttonContainer .btn-skill2 {
  margin-left: 50px;
}
.form-buttonContainer .btn-cancel {
  width: 28%;
  color: #ff5252;
  background-color: #efefef;
  border: 1px solid #ff5252;
}
/* Skill form ends */
